@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


*{
  font-family: "Roboto", sans-serif;
}

.text-outline {
  -webkit-text-stroke: 1px #fff ;
  color: transparent;
}

:root {
  --grape: rgba(114, 35, 284);
}


